* {
  margin: 0;
  padding: 0;
}
.ant-drawer-body {
  padding: 0 !important;
}
ul li {
  list-style: none;

  font-size: 14px;
}
ul li:hover {
  background: #d9d9d9;
  cursor: pointer;
}
ul li a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
}
ul li a:hover {
  text-decoration: none;

  color: rgba(0, 0, 0, 0.65);
}
.drawer-header {
  font-size: 18px;
  font-weight: 400;
  border-bottom: solid 0.1px;
  padding: 0 0 0 16px;
  padding: 0;
}
